docker.enabled = true

params {
  outdir = 'results'
}

process {
  memory = '4 GB'
  cpus = 4
  time = '2h'
  withName: taxonomyProcess {
    maxForks = 1
    memory = '7 GB' //Adjust as needed based on RAM
    cpus = 2
  }
}

plugins {
  id 'nf-co2footprint@1.0.0-rc.1'
}

co2footprint {
    location = 'SK'
    ignoreCpuModel = true
}


trace {
  enabled = true
  file = "${params.outdir}/pipeline_run_info/trace.txt"
  //fields = 'task_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss,peak_rss,vmem,peak_vmem,rchar,wchar,read_bytes,write_bytes'
  fields = 'task_id,process,hash,name,status,start,complete,duration,%cpu,cpus,memory'
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_run_info/report.html"
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_run_info/timeline.html"
}

dag {
  enabled = true
  file = "${params.outdir}/pipeline_run_info/flowchart.png"
} 
